<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="RuicoContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=ruico_test;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="log4net.Config" value="App_Data\Config\log4net.xml" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="Ruico:AuthSecret" value="yb$8t3x=" />
    <add key="Ruico:OperateRecordSaveUrl" value="http://localhost:58091/Api/OperateRecord/Save" />
    <add key="Ruico:OperateRecordQueryUrl" value="http://localhost:58091/Api/OperateRecord/Query" />
    <add key="Ruico:WebApiSecret" value="77000b67e0fc76647aec" />
    <!--记录数据库执行的Sql日志-->
    <add key="Ruico:SetDatabaseLog" value="false" />
    
    <!-- 微信企业号Id -->
    <add key="WeixinCorpID" value="wx6f3fc737a4c146a5" />
    
    <!-- 微信企业号下的应用列表，格式：App名称1,AppId1;App名称2,AppId2 -->
    <add key="WeixinApps" value="考勤系统,20,KaoQin;测试系统,21,Testing" />
    
    <!-- 微信管理组Secret - 部门和成员 -->
    <add key="WeixinSecret:Contacts" value="fpD6JYuVUPGTVSpQztVZ4GOn-6M87xa_BT3WSkQoXYtrSj-Y5dh_DoSLxtdhfS7W" />
    
    <!-- 微信应用 【考勤】 开始 -->
    <!-- 微信应用Id -->
    <add key="WeixinAppId:KaoQin" value="20" />
    <!-- 微信管理组Secret - 考勤 -->
    <add key="WeixinSecret:KaoQin" value="fpD6JYuVUPGTVSpQztVZ4GOn-6M87xa_BT3WSkQoXYtrSj-Y5dh_DoSLxtdhfS7W" />
    <!-- 微信回调参数 -->
    <!--<add key="WeixinToken:KaoQin" value="JDZ0poliR5F8pxh"/>-->
    <!--<add key="WeixinEncodingAESKey:KaoQin" value="v8TLrDtWGOw4kQkzgGoskInuPpyg6gDLoxKmxuhA6aB"/>-->
    <!-- 微信应用 【考勤】 结束 -->
    
    <!-- 微信页面测试不需要登陆 -->
    <add key="Weixin:Testing" value="true" />
  
  </appSettings>
  <autofac configSource="App_Data\Config\autofac.xml" />
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>