<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Ruico:OperateRecordSaveUrl" value="http://localhost:58091/Api/OperateRecord/Save" />
    <add key="Ruico:OperateRecordQueryUrl" value="http://localhost:58091/Api/OperateRecord/Query" />
    <add key="Ruico:WebApiSecret" value="77000b67e0fc76647aec" />
  </appSettings>
</configuration>