<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- 微信企业号Id -->
    <add key="WeixinCorpID" value="wx6f3fc737a4c146a5"/>
    
    <!-- 微信应用 【考勤】 开始 -->
    <!-- 微信应用Id -->
    <add key="WeixinAppId:KaoQin" value="20"/>
    <!-- 微信管理组Secret -->
    <add key="WeixinSecret:KaoQin" value="fpD6JYuVUPGTVSpQztVZ4GOn-6M87xa_BT3WSkQoXYtrSj-Y5dh_DoSLxtdhfS7W"/>
    <!-- 微信应用 【考勤】 结束 -->
  </appSettings>
</configuration>