<div id="popup_modal" class="modal hide in">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button>
        <h3 id="popup_title"></h3>
    </div>
    <div class="modal-body">
        <iframe id="popup_frame" width="100%" height="98%" frameborder="0"></iframe>
    </div>
    <div class="hidden" id="hide-modal-body"></div>
</div>