@{
    ViewBag.Title = "菜单1";
}

<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="icon-align-justify"></i>
            </span>
            <h5>菜单1</h5>
        </div>
        <div class="widget-content">

        </div>
    </div>
</div>

