@using Ruico.Dto.Common
@using Ruico.Dto.UserSystem
@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";

    ViewBag.Title = "我的待办";
}

<div class="container-fluid">

    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="icon-align-justify"></i>
            </span>
            <h5>我的待办</h5>
        </div>
        <div class="widget-content">
            我的待办
        </div>
    </div>
</div>
